BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Stroustrup

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

PointerAlignment: Left
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AlignConsecutiveMacros: true
